<h1><%= @user[:username] %></h1>
<p><%= @user[:firstname] %></p>
<p><%= @user[:surname] %></p>
<p><%= @user[:email] %></p>
<a href="/users/<%= @user[:id] %>/edit">edit</a>

<form action="/<%= @user[:id] %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form> 